In [1]:
#Import the dataset for the sentiment analysis
import pandas as pd
df = pd.read_csv('amazon_reviews.csv')
df.head()

                                             Reviews  Result
0  So there is no way for me to plug it in here i...       0
1                        Good case, Excellent value.       1
2                             Great for the jawbone.       1
3  Tied to charger for conversations lasting more...       0
4                                  The mic is great.       1

In [3]:
#Check the dataframe for shape and any null values
df.shape

(1000, 2)

In [5]:
df.isnull()

     Reviews  Result
0      False   False
1      False   False
2      False   False
3      False   False
4      False   False
..       ...     ...
995    False   False
996    False   False
997    False   False
998    False   False
999    False   False

[1000 rows x 2 columns]

In [6]:
df.dropna()

                                               Reviews  Result
0    So there is no way for me to plug it in here i...       0
1                          Good case, Excellent value.       1
2                               Great for the jawbone.       1
3    Tied to charger for conversations lasting more...       0
4                                    The mic is great.       1
..                                                 ...     ...
995  The screen does get smudged easily because it ...       0
996  What a piece of junk.. I lose more calls on th...       0
997                       Item Does Not Match Picture.       0
998  The only thing that disappoint me is the infra...       0
999  You can not answer calls with the unit, never ...       0

[1000 rows x 2 columns]